@model BroadbandSpeedStats.Web.Models.SpeedTestResultRequest

<!-- Template from http://getbootstrap.com/examples/dashboard/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/Images/favicon.ico">
    <title>Broadband Speed Stats</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/dashboard.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

@Html.Partial("_NavBar")

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">second</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">another</a></li>
                <li><a href="">another one</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            @RenderBody()
        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.9.1.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>
<script src="/Scripts/Chart.bundle.min.js"></script>
<script src="/Scripts/raphael-2.1.4.min.js"></script>
<script src="/Scripts/justgage.js"></script>
@RenderSection("pageScripts", required: false)

</body>
</html>
