@model BroadbandSpeedStats.Models.SpeedTestResultRequest
<!DOCTYPE html>

<html>
<head>
    <title>Broadband speed results</title>
</head>

<body>
<h1>Broadband speed results</h1>

    @if (Model != null)
    {
        @:Date: @Model.Timestamp
        <br/>
        @:Ping: @Model.Ping ms
        <br />
        @:Download: @(Model.Download / 1000000) Mbit/s
        <br />
        @:Upload: @(Model.Upload / 1000000) Mbit/s
    }
</body>
</html>
